<!-- begin:: Brand -->
<div class="kt-header__brand   kt-grid__item" [ngClass]="htmlClassService.getClasses('brand', true)" id="kt_header_brand">
	<div class="kt-header__brand-logo">
		<a href="javascript:;" routerLink="/">
			<img alt="logo" [attr.src]="'./assets/media/logos/supinfologo2.png'" class="kt-header__brand-logo-default" width="70" height="70"/>
			<img alt="logo" [attr.src]="'./assets/media/logos/supinfologo2.png'" class="kt-header__brand-logo-sticky" width="70" height="70"/>
		</a>
	</div>
</div>
<!-- end:: Brand -->
